/**************************************************************/
/*WAZO17 MENU*/

.wazo17 {
  width: 100%;
  height: 60px;
  background-color: #800000;
  position: absolute;
  margin-top: 0px;
}

.wazo17 li {
  float: left;

  width: 150px;
  height: 60px;

  text-align: center;

  /*border-right: black 1px solid;*/
  text-decoration: none;
  list-style-type: none;
  line-height: 60px;
}

.wazo17menu li a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.wazo17menu li a:hover {
  background-color: black;
  color: white;
}

.wazo17submenu {
  display: none;
}

.wazo17submenu li a {
  background-color: #800000;
  border: gray 1px solid;
  width: 200px;
  text-align: left;
  /*border-top: black 1px solid;
  padding: 5px;*/
  font-size: 16px;
}

.wazo17 ul li:hover > ul {
  display: block;
}

.wazo17subsubmenu {
  display: none;
}

.wazo17submenu ul {
  position: absolute;
  margin-left: 200px;
  margin-top: -60px;
  width: 200px;
}

.wazo17subsubmenu li a {
  background-color: #800000;
  border: gray 1px solid;
  width: 250px;
  text-align: left;
  /*border-top: black 1px solid;
  padding: 5px;*/
  font-size: 16px;
}

.wazo17 ul li:hover > ul li:hover > ul {
  display: block;
}
